{% extends 'SuplinkHomeBundle:Default:layout.html.twig' %}
{% block menu %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{{ path('_welcome') }}"><img src="{{ asset('img/logo.png') }}" alt="Suplink" width="160" height="46"></a>
                <div class="nav-collapse">
                    <ul class="nav actions">
                        {% if is_expr_granted("hasRole('ROLE_USER')") %}
                            <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        {% endif %}
                        <li><a href="{{ path('suplink_home_aboutpage') }}">About</a></li>
                    </ul>
                    <ul class="nav">
                        <li>Suppress a link</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span9">
                <h1>SupLink -Another Url Shortener</h1>
            </div>
        </div>
        <div class="clear"></div>
        <h1>Edit Your Link</h1>

        <form action="{{ path('link_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit">Edit</button>
            </p>
        </form>

        <ul class="nav nav-list">
            <li>
                <a href="{{ path('suplink_link_dashboardpage') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <form action="{{ path('link_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit"><i class="icon-trash"></i> Delete this link</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}