{% extends 'SuplinkHomeBundle:Default:layout.html.twig' %}
{% block menu %}
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="brand" href="{{ path('_welcome') }}"><img src="{{ asset('img/logo.png') }}" alt="Suplink" width="160" height="46"></a>
	      <div class="nav-collapse">
	        <ul class="nav actions">
                {% if is_expr_granted("hasRole('ROLE_USER')") %}
                    <li><a href="{{ path('suplink_link_dashboardpage') }}">Dashboard</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                {% endif %}
	        </ul>
	        <ul class="nav">
                    <li>About this app</li>
	        </ul>
	      </div><!--/.nav-collapse -->
	    </div>
	  </div>
	</div>
{% endblock %}
{% block body %}
<div class="row-fluid">
	<div class="span9">
			<h1>About this App</h1>
			<div class="span9">
				<div class="span3">
					<h2>Coded by</h2>
					<img src="{{ asset('img/151929.jpg') }}" alt="Mehdi Aissani" width="100" heigh="100">
				</div>
				<div class="span6">
					<h2>Supinfo Student</h2>
					<strong>Firstname: </strong> {{firstname}}.
					<br/>
					<strong>Lastname: </strong> {{lastname}}.
					<br/>
					<strong>Id Number: </strong> {{idnumber}}.
				</div>

			</div>


	</div>
	<div class="clear"></div>

</div>
    <h2>Diagrame Uml De l application : </h2>
    <img src="{{ asset('img/DiagrameUMLSupLink.png') }}" alt="DiagrameUMLSupLink.png">
{% endblock %}
{% block javascripts %}{% endblock %}