 {% extends 'SuplinkHomeBundle:Default:layout.html.twig' %}
 {% block menu %}
 <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="brand" href="{{ path('_welcome') }}"><img src="{{ asset('img/logo.png') }}" alt="Suplink" width="160" height="46"></a>
    <div class="nav-collapse collapse pull-right">
        <ul class="nav actions">
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
            <li><a href="{{ path('suplink_home_aboutpage') }}">About</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</div>
</div>
</div>
{% endblock %}
{% block body %}
{% block fos_user_content %}
<div class="row-fluid">
    <div class="span9">
        <h1>SupLink -Another Url Shortener</h1>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <form action="{{ path('fos_user_security_check') }}" method="POST">


<form action="{{ path("fos_user_security_check") }}" method="post">
            <fieldset>
                <legend>Login</legend>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"
            class="btn"/>
            </fieldset>
</form>            
    </div>

    <div class="span6">
        <img src="{{ asset('img/suplink.png') }}" alt="Ton Sta"/>
    </div>  
</div>
    {% endblock fos_user_content %}
    {% endblock %}
